<h3 class="first">Basic</h3>
<p-table [value]="cateogrias" selectionMode="single" [(selection)]="categoria">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
        <tr [pSelectableRow]="categoria">
            <td>{{categoria.nombre}}</td>
            <td>{{categoria.estado | activoInactivo }}</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <!-- dinamico -->
        <button pButton type="button" label="Agregar" (click)="addEdit()"></button>
        <button pButton type="button" label="Editar" (click)="addEdit(false)" [disabled]="!categoria?.id"></button>

        <!-- por rutas -->
        <button pButton style="margin-left: 20px;" type="button" label="Agregar x Ruta"
            (click)="showForm('form')"></button>
        <button pButton type="button" label="Editar x Ruta" (click)="showForm('form', false)"  [disabled]="!categoria?.id"></button>
    </ng-template>
</p-table>

<router-outlet></router-outlet>

<h3>Dynamic Columns</h3>
<p-table [columns]="cols" [value]="cateogrias">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>