<p-dialog header="Categoría (por Navegación)" visible="true" [modal]="true" [responsive]="true" [style]="{width: '400px', minWidth: '300px'}" [minY]="70" 
[maximizable]="true" [baseZIndex]="10000" [closable]="false">

    <div class="ui-g">
        <form [formGroup]="formCategoria">
    
            <!-- error  nombre -->
            <div class="ui-g-12">
                <p-message *ngIf="formCategoria.controls.nombre.errors?.required && formCategoria.controls.nombre.dirty " severity="error"
                    text=" El campo es requerido">
                </p-message>
                <p-message *ngIf="formCategoria.controls.nombre.errors?.maxlength" severity="error"
                    text=" Máximo {{ formCategoria.controls.nombre.errors?.maxlength.requiredLength }} caracteres">
                </p-message>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="ui-g-6">
                    <input pInputText type="text" id="nombre" placeholder="Nombre" formControlName="nombre">
                </div>
            </div>
    
              <!-- error  estado -->
              <div class="ui-g-12">
                <p-message *ngIf="formCategoria.controls.estado.errors?.required && formCategoria.controls.estado.dirty" severity="error"
                    text=" El campo es requerido">
                </p-message>
                <p-message *ngIf="formCategoria.controls.estado.errors?.maxlength" severity="error"
                    text=" Máximo {{ formCategoria.controls.estado.errors?.maxlength.requiredLength }} caracteres">
                </p-message>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <label for="estado">Estado</label>
                </div>
                <div class="ui-g-6">
                    <p-radioButton name="estado" value="A" label="Activo" inputId="estado" formControlName="estado">
                    </p-radioButton>
                    <p-radioButton name="estado" value="I" label="Inactivo" inputId="estado" formControlName="estado">
                    </p-radioButton>
                </div>
            </div>
        </form>
    </div>
    
    <button pButton type="button" label="Cancelar" (click)="cancelar()"></button>
    
    </p-dialog>