<h3 class="first">Producto Tabla Básica</h3>
<p-table #table [value]="productos">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Categoría</th>
        </tr>
        <tr>
            <!-- nombre -->
            <th>
                <input pInputText type="text" placeholder="Filtrar nombre"
                    (input)="table.filter($event.target.value, 'nombre', 'contains')">
            </th>
            <!-- cantidad -->
            <th> <input pInputText type="number" placeholder="Filtrar Cantidad"
                    (input)="table.filter($event.target.value, 'cantidad', 'contains')"></th>
            <!-- precio -->
            <th> </th>
            <!-- categoria -->
            <th>
                <p-dropdown [options]="categorias"
                    (onChange)="table.filter($event.value?.id, 'categoria.id', 'equals')"></p-dropdown>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{producto.nombre | uppercase}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio | currency}}</td>
            <td>{{producto.categoria?.nombre}}</td>
        </tr>
    </ng-template>
</p-table>

<h3>Producto Tabla Dynamic</h3>
<p-table #table2 [columns]="cols" [value]="productos">
    <ng-template pTemplate="header" let-columns>
        <!-- encabezado -->
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
        <!-- filtros -->
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <span *ngSwitchDefault></span>

                <input *ngSwitchCase="'nombre'" pInputText type="text" placeholder="Filtrar nombre"
                    (input)="table2.filter($event.target.value, 'nombre', 'contains')">

                <input *ngSwitchCase="'cantidad'" pInputText type="number" placeholder="Filtrar Cantidad"
                    (input)="table2.filter($event.target.value, 'cantidad', 'contains')">

                <p-dropdown *ngSwitchCase="'categoria'" [options]="categorias"
                    (onChange)="table2.filter($event.value?.id, 'categoria.id', 'equals')"></p-dropdown>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <span *ngSwitchDefault> {{rowData[col.field]}} </span>
                <span *ngSwitchCase="'nombre'"> {{rowData[col.field] | uppercase }} </span>
                <span *ngSwitchCase="'precio'"> {{rowData[col.field] | currency }} </span>
                <span *ngSwitchCase="'categoria'"> {{rowData[col.field]?.nombre }} </span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <button pButton type="button" label="Guardar" class="ui-button-raised ui-button-success" (click)="verFormulario()"></button>
    </ng-template>
</p-table>
