<div class="ui-g">
    <form [formGroup]="productoForm">

        <!-- error  nombre -->
        <div class="ui-g-12">
            <p-message *ngIf="productoForm.controls.nombre.errors?.required && productoForm.controls.nombre.dirty "
                severity="error" text=" El campo es requerido">
            </p-message>
            <p-message *ngIf="productoForm.controls.nombre.errors?.maxlength" severity="error"
                text=" Máximo {{ productoForm.controls.nombre.errors?.maxlength.requiredLength }} caracteres">
            </p-message>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <label for="nombre">Nombre</label>
            </div>
            <div class="ui-g-6">
                <input pInputText type="text" id="nombre" placeholder="Nombre" formControlName="nombre">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <label for="cantidad">Cantidad</label>
            </div>
            <div class="ui-g-6">
                <input pInputText type="number" id="cantidad" placeholder="Cantidad" formControlName="cantidad">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <label for="precio">Precio</label>
            </div>
            <div class="ui-g-6">
                <input pInputText type="number" id="precio" placeholder="Precio" formControlName="precio">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-6">
                <label for="categoria">Categoria</label>
            </div>
            <div class="ui-g-6">
                <p-dropdown [options]="categorias" formControlName="categoria" placeholder="Seleccionar" ></p-dropdown>
            </div>
        </div>
    </form>
</div>

<div class="ui-dialog-footer">
    <button pButton type="button" label="Guardar" (click)="save()" [disabled]="productoForm.invalid"></button>
</div>
