<div class="ui-g">
    <div class="ui-g-3">
        <h1>Menu</h1>
        <button pButton type="button" label="Producto" routerLink="/producto"></button> <br> <br>
        <button pButton type="button" label="Categoría" routerLink="/categoria"></button><br> <br>
        <button pButton type="button" label="Detalle Factura" routerLink="/detalle-factura"></button>
    </div>
    <div class="ui-g-7">
        <h1>Contenido</h1>
        <router-outlet></router-outlet>
    </div>
</div>