<h3 class="first">Detalle Factura Basic</h3>
<p-table #table [value]="detallesFactura" [responsive]="true" [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha Compra</th>
            <th>Categoría</th>
        </tr>
        <!-- filtros -->
        <tr>
            <!-- producto -->
            <th>
                <input pInputText type="text" placeholder="Filtrar nombre"
                    (input)="table.filter($event.target.value, 'producto.nombre', 'contains')">
            </th>
            <!-- cantidad -->
            <th> </th>
            <!-- fechaCompra -->
            <th>
                <p-calendar appendTo="body" (onSelect)="table.filter($event, 'fechaCompra', 'date')">
                </p-calendar>
            </th>
            <!-- producto -->
            <th> </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalle>
        <tr>
            <td>{{detalle.producto.nombre}}</td>
            <td>{{detalle.cantidad}}</td>
            <td>{{detalle.fechaCompra | date}}</td>
            <td [ngClass]="{'background-red':detalle.producto.categoria.estado=='I'}">
                {{detalle.producto.categoria.nombre}}
                <i *ngIf="detalle.producto.categoria.estado=='A'" class="pi pi-check"></i>
            </td>
        </tr>   
    </ng-template>
</p-table>

<h3>Detalle Factura Dynamic</h3>
<p-table #table2 [columns]="cols" [value]="detallesFactura" [responsive]="true" [autoLayout]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.filterBy">
                {{col.header}}
                <p-sortIcon [field]="col.filterBy"></p-sortIcon>
            </th>
        </tr>
        <!-- filtros -->
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <span *ngSwitchDefault></span>

                <input *ngSwitchCase="'producto'" pInputText type="text" placeholder="Filtrar nombre"
                    (input)="table2.filter($event.target.value, 'producto.nombre', 'contains')">

                <p-calendar *ngSwitchCase="'fechaCompra'" appendTo="body"
                    (onSelect)="table2.filter($event, 'fechaCompra', 'date')"></p-calendar>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
                <span *ngSwitchDefault> {{rowData[col.field]}} </span>
                <span *ngSwitchCase="'producto'"> {{rowData[col.field].nombre }} </span>
                <span *ngSwitchCase="'fechaCompra'"> {{rowData[col.field] | date }} </span>
                <span *ngSwitchCase="'categoria'"> {{rowData.producto[col.field].nombre }} </span>
            </td>
        </tr>
    </ng-template>
</p-table>